body{
    font-family: Georgia, Utopia, Palatino, 'Palatino Linotype', serif;
    background-color: #272822;
    color: white;
}

h3 {
    color: white;
}

a {
    color: #FF69B4;
    text-decoration: none;
    transition: color 0.3s ease;
    -webkit-transision: color 0.3s ease;
    -moz-transision: color 0.3s ease;
}

footer{ 
    position: center;
    font: 1em;
    color: #C0C0C0;
}

li {
    display: inline;
    font-size: 1em;
    color: #FF69B4;
}

a:hover{
    color: #870202;
    transision: color 0.3s ease;
    -webkit-transision: color 0.3s ease;
    -moz-transision: color 0.3s ease;
}

 .side-nav li a:not(.button):hover, .side-nav li a:not(.button):focus {
     transition: color 0.3s ease;
     -webkit-transision: color 0.3s ease;
     -moz-transision: color 0.3s ease;
 }
 .side-nav li a:not(.button), .side-nav li a:not(.button) {
     transition: color 0.3s ease;
     -webkit-transision: color 0.3s ease;
     -moz-transision: color 0.3s ease;
 }